/* .projects-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.project-card {
  background-color: #f0f0f0;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}

.project-link {
  text-decoration: none;
  color: #337ab7;

}

.project-link:hover {
  color: #23527c;

} */

.light {
  background-color: #f9f9f9;
  color: #333;
}

.dark{
  background-color: black;
  color: #f9f9f9;
}