.light {
  background-color: #f9f9f9;
  color: #333;
}

.dark{
  background-color: black;
  color: #f9f9f9;
}

button{
  background-color: transparent;
  height: 40px;
  width: 50px;
  float: right;
  border: 2px solid transparent;
}

theme {
  font-size: xx-large;
}
.switch {
  font-size: xx-large;
  margin-top: -10px;
}